[submodule "understanding-graph"]
	path = understanding-graph
	url = https://github.com/emergent-wisdom/understanding-graph
[submodule "orchestrator"]
	path = emergent-swarm
	url = https://github.com/emergent-wisdom/orchestrator.git
